.card {
  width: 330px;
  height: 400px;
  border-radius: 18px;
  background: #fff;
  border: 1px solid #ecf2f6;
  padding: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-4px);
  }
}
.cardWrapper {
  width: 314px;
  height: 236px;
  background-color: #f6f8fb;
  border-radius: 12px;
}
.discountBadge {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  position: absolute;
  top: 23px;
  left: 25px;
  background: #ef0d4a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 510;
}

.actions {
  position: absolute;
  top: 23px;
  right: 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.iconBtn {
  background: #ffffff;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.title {
  width: 200px;
  text-align: center;
  font-weight: 410;
  font-size: 14px;
  color: #3b3f42;
  margin-top: 20px;
  margin-bottom: 46px;
  text-transform: uppercase;
}
.priceWrapper {
  width: 298px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.priceBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.newPrice {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.oldPrice {
  font-size: 14px;
  font-weight: 400;
  color: #3b3f42;
  text-decoration: line-through;
}

.addBtn {
  width: 122px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #10b5c0;
  color: #fff;
  font-weight: 510;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;

  &:hover {
    background-color: #0FA1AB;
  }
}
