// ==== Light Colors ====
$light: #f6f8f8;
$light-hover: #f2f4f5;
$light-active: #e4e8eb;
$normal: #a8b4bd;
$normal-hover: #97a2aa;
$normal-active: #869097;
$dark: #7e878e;
$dark-hover: #656c71;
$dark-active: #4c5155;
$darker: #3b3f42;

// ==== Blue Colors ====
$blue-light: #edf8f9;
$blue-light-hover: #e4f5f6;
$blue-light-active: #c7eaed;
$blue-normal: #4abcc4;
$blue-normal-hover: #43a9b0;
$blue-normal-active: #3b969d;
$blue-dark: #388d93;
$blue-dark-hover: #2c7176;
$blue-dark-active: #215558;
$blue-darker: #1a4245;

// ==== Red Colors ====
$red-light: #f8ebee;
$red-light-hover: #f5e1e6;
$red-light-active: #eac1cb;
$red-normal: #ba3657;
$red-normal-hover: #a7314e;
$red-normal-active: #952b46;
$red-dark: #8c2941;
$red-dark-hover: #702034;
$red-dark-active: #541827;
$red-darker: #41131e;
