.container {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 24px;
  border-radius: 28px;
  border: 1px solid rgba(236, 242, 246, 1);
  box-sizing: border-box;
  min-height: 481px;
}

.paginationWrapper {
  position: absolute;
  top: 24px;
  right: 24px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}

@media (max-width: 768px) {
  .container {
    border-radius: 18px;
    min-height: auto;
    padding: 18px 14px;
  }

  .paginationWrapper {
    position: static;
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
  }
}
