@import "@/styles/colors";

.searchBar {
  display: flex;
  align-items: center;
  width: 724px;
  height: 48px;
  border: 1.2px solid #10b5c0;
  border-radius: 10px;
  background-color: white;
  position: relative;
  overflow: visible;
}

.dropdown {
  position: relative;
}

.dropdown button {
  height: 100%;
  border: none;
  border-right: 1px solid $light-active;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #696c6e;
  margin-left: 16px;
  font-size: 14px;
  font-weight: 510;
}

.dropdownList {
  position: absolute;
  top: 120%;
  left: 0;
  width: 232px;
  background: white;
  border-radius: 14px;
  z-index: 10;
  overflow-y: auto;
  box-shadow: 0px 0px 16.1px -4px #204e514d;
  color: $darker;
  font-size: 14px;
  font-weight: 400;
  list-style: none;
  padding: 16px 41px 16px 20px;
}

.dropdownListItem {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdownListItem:hover {
  background-color: #eee;
}

.searchInput {
  flex: 1;
  height: 100%;
  border: none;
  padding: 0 12px;
  outline: none;

  &::placeholder {
    color: #696c6e;
    font-size: 14px;
    font-weight: 400;
  }
}

.searchBtn {
  width: 90px;
  height: 100%;
  margin: 0 auto;
  border: none;
  background-color: #10b5c0;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 510;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}
